GRPC_PORT=4001

############################################# Databse #############################################
DATABASE_READ_HOSTS=mysql,mysql
DATABASE_WRITE_HOSTS=mysql,mysql



############################################# MongoDB #############################################
MONGODB_PROTOCOL="mongodb"
MONGODB_HOST="mongodb"
MONGODB_PORT="27017"

############################################# AQMP #############################################
AMQP_HOST="rabbitmq"
AMQP_PORT=5672
AMQP_USER=admin
AMQP_PASS=rabbitmq_pass_cli

